@font-face {
    font-family: 'Fortnite';
    src: url('../fuentes/Fortnite.ttf') format("truetype");
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

html {
    min-height: 100%;
    position: relative;
}


::-webkit-scrollbar {
    display: none;
}

::selection {
    color: #fff;
    background: #ff7070;
}


/*INICIO HEADER-------------------------------------------------------------------------------------------------------*/
.nav-link {
    text-decoration: white !important;
    color: white !important;
    font-size: 17px;
}

.nav-link2 {
    text-decoration: #000000 !important;
    color: #000000 !important;
    font-size: 17px;
}


.fotologo {
    height: 55px;
}

.fondos-carrousel {
    height: 1000px !important;
    width: auto !important;
}

.nav-link:hover {
    color: #ee4949 !important;
}

.barra {
    color: black !important;
    background-color: black !important;
}

.navbar-toggler {
    color: #000000 !important;
    background-color: #ee4949 !important;

}
/*INICIO DE TEXTO Y FOTOS INICIO--------------------------------------------------------------------------------------*/

.titulo-fortnite {
    font-weight: bold;
    color: #000000;
    font-size: 50px;
    text-align: center;
}

.texto-no-torneos {
    font-family: 'Fortnite';
    font-weight: bold;
    color: #000000;
    font-size: 50px;
    text-align: center;
}

.texto-mostrar-mensajes {
    font-family: 'Fortnite';
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke: 2px #000000;
}

.compra-succses{
    font-family: 'Fortnite';
    font-size: 40px;
    text-align: center;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke: 2px #4caf50;
}

.texto-torneind-cabezera{
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-family: 'Fortnite';
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    -webkit-text-fill-color: #84fff5;
    -webkit-text-stroke: 2px #000000;
}

.texto-show-message {
    font-family: 'Fortnite';
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    -webkit-text-fill-color: #ffe89c;
    -webkit-text-stroke: 2px #000000;
}

.texto-show-message2 {
    font-family: 'Fortnite';
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    -webkit-text-fill-color: #62f7ff;
    -webkit-text-stroke: 2px #000000;
}

.texto-show-message3 {
    font-family: 'Fortnite';
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    -webkit-text-fill-color: #ee4949;
    -webkit-text-stroke: 2px #000000;
}


.texto-buscar-amigos {
    font-family: 'Fortnite';
    font-weight: bold;
    color: #000000;
    font-size: 30px;
    text-align: center;
}


.texto-profile {
    font-family: 'Fortnite';
    font-weight: bold;
    color: #000000;
    font-size: 35px;
    text-align: center;
}

.texto-profile-ver {
    font-family: 'Fortnite';
    font-weight: bold;
    color: #000000;
    font-size: 25px;
    text-align: center;
}

.iconos-nav {
    height: 40px;
}

.logo-inicio {
    height: 250px;
    text-align: center;
}

.iconos-inicio {
    text-align: center;
}

.fotos-inicio {
    justify-content: space-between !important;
    display: flex;
}

.fotos-inicio-link {
    height: 495px;
}

.fotos-inicio-link2 {
    height: 510px;
}

.fotos-inicio-link2:hover {
    opacity: 0.3;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;

}

.fotos-inicio-link:hover {
    opacity: 0.3;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;

}


.im {
    float: left;
    width: 28%;
    margin: 10px;
    z-index: 2;
}

.foto iframe {
    margin: 20px 0 0 0;
    height: 800px;
    width: 100%;
}

.foto p {
    font-family: 'Fortnite';
    color: #000000;
    position: relative;
    bottom: 60px;
    left: 260px;
    top: -335px;
    font-size: 30px;
    font-weight: bold;
    z-index: 2;
    display: inline-block;
    visibility: hidden;

}


.foto img:hover ~ p {
    visibility: visible;
}


.foto2 iframe {
    margin: 20px 0 0 0;
    height: 800px;
    width: 100%;
}

.foto2 p {
    font-family: 'Fortnite';
    color: #000000;
    position: relative;
    bottom: 60px;
    left: 200px;
    top: -360px;
    font-size: 30px;
    font-weight: bold;
    z-index: 2;
    display: inline-block;
    visibility: hidden;

}


.foto2 img:hover ~ p {
    visibility: visible;
}


/*FINAL DE TEXTO Y FOTOS INICIO---------------------------------------------------------------------------------------*/

/*INICIO FOOTER*/
footer {
    padding-top: 20px;
    height: auto;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
}

#final {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.items {
    text-align: center;
}

.iconos-footer {
    height: 50px;
}

.icono-footer-compartir {
    height: 37px;
}

.titols-footer {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px !important;
    text-align: center;
}


/*FINAL FOOTER--------------------------------------------------------------------------------------------------------*/

td {
    color: #000000;
    text-align: center;
}

th {
    color: black;
    text-align: center;
}

.fotos-ver-torneos {
    height: 500px;
}

td {
    vertical-align: middle;
}


.buscar-cosmetico-boton{
    color: rgb(0, 0, 0);

}

.tabla {
    justify-content: center;
    align-items: center;
    display: flex;
}

.link-iconos {
    text-decoration: none !important;
}

.iconos-font {
    color: white !important;
}

.boton-login {
    background-color: darkmagenta !important;
}

#fondo-login {
    background-image: url("../fotos-web/general/foto-prueba-2.PNG");
    background-repeat: no-repeat;
    background-color: #ecf0f1;
}

#fondo-descripcion {
    background-image: url("../fotos-web/general/Fondo-inscribe.JPG");
    background-repeat: no-repeat;
    background-color: #ecf0f1;
}

.row-form-inscribe {
    padding-bottom: 300px;
    padding-top: 100px;
}

.row-chat{
    padding-bottom: 700px;
}

.row-mensaje {
    padding-bottom: 270px;
    padding-top: 150px;
}

.tarjeta-login {
    opacity: 90%;
    border-radius: 5px;
    background-color: #ffffff;
    border-image: linear-gradient(
            to top left,
            #7304bd,
            rgb(0, 0, 0)
    ) 1 100%;
    border-width: 5px;
    border-style: inset;
}

.row-login {
    padding-top: 50px;
    padding-bottom: 240px;

}

.row-view-torneo {
    padding-bottom: 390px;
}

.row-contacto {
    padding-bottom: 150px;
    padding-top: 50px;
}

.row2 {
    justify-content: center;
    padding-top: 50px;
}

.texto-success-inscripcion {
    font-family: 'Fortnite';
    font-size: 30px;
}

.texto-success-inscripcion-azul {
    font-family: 'Fortnite';
    font-size: 30px;
    color: #ff77a4;
}

.campo-fecha {
    height: 40px;
}

.boton-cerrar-sesion {
    background-color: #ee4949 !important;
    border-color: #1a1a1a;
}

.boton-cerrar-sesion:hover {
    border-color: #1a1a1a;
}

.boton-empezar-jugar {
    background-color: darkmagenta !important;
}

.targeta-registrarse {
    border-radius: 5px;
    background-color: #ffffff;
    border-image: linear-gradient(
            to bottom left,
            #000000,
            #ff41fc
    ) 1 100%;
    border-width: 5px;
    border-style: inset;
}

@keyframes jumping {
    50% {
        transform: translate(0, -20px)
    }
    100% {
        transform: translate(0, -0)
    }
}

.tarjeta-futuro {
    background-image: url("../fotos-web/general/fondo-futuro.jpg");
    transition: all 5.5s ease;
    animation: jumping 2s ease-out 0s infinite;
}


#boby-registro {
    background-image: url("../fotos-web/general/foro_register.png");
    background-repeat: no-repeat;
    background-color: #ecf0f1;
}

#fondo-crear-editar-forms {
    background-image: url("../fotos-web/general/fondo-forms.jpeg");
    background-repeat: no-repeat;
    background-color: #000000;
}


#body-winners{
    background-color: beige;
}

.nombre-torneo-win{
    font-weight: bold;
    color: #1a1919;
}

.card-blanca{
    background-color: white;
}

.card-users{
    border: 1px solid rgb(0, 0, 0);

}

.card-win{
    padding-top: 100px;
    padding-bottom: 150px;
}

#fondo-contacto {
    background-color: beige;
}

.margin-left-boto-mensajes {
    margin-left: 5px;
}

.row-futuro {
    padding-top: 200px;
    padding-bottom: 270px;
}


table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table a {
    text-decoration: none;
}

table .play-button {
    width: 1.7rem;
    height: auto;
    margin-bottom: 2px;
}

table .info-button {
    width: 2rem;
    height: auto;
}

table .google-maps-icon {
    width: 2rem;
    height: auto;
}

table .song-pic {
    width: 8rem;
    height: auto;
}

table caption {
    font-size: 3.5em;
    margin: .5em 0 .75em;
    font-weight: bold;
    color: rgb(44, 91, 152);
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media only screen and (max-width: 850px) {

    table {
        border: 0;
    }

    table caption {
        font-size: 3.5em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

.row-error {
    padding-top: 150px;
    padding-bottom: 300px;
}



#mivideo {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    background-size: cover;
}

.card-error {
    opacity: 0.4;
}


.card-error:hover {
    opacity: 1.0;
}

#color-body-compartir{
    background-color: beige;
}

* {
    box-sizing: border-box;
}

.item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
}

#rowSiteMap{
    padding-top: 120px;
}
.cardSiteMap{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
    position: relative;
    transition: all .2s ease-in-out;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 700px;
    margin: 0 auto;
    padding-top: 50px;
    border: 3px;
    border: #2C3E50;
    margin-bottom: 100px;
    opacity: 60%;
    text-align: center;
}

.cardSiteMap:hover {
    box-shadow: 0 10px 20px #ff7070, 0 6px 6px #ff7070;
}

.aNegra{
    font-family: 'Fortnite';
    font-weight: bold;
    color: #000000;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
}

.titulo-cosmeticos{
    font-family: 'Fortnite';
    font-weight: bold;
    -webkit-text-fill-color: #ff7070;
    -webkit-text-stroke: 2px #000000;    font-size: 75px;
    text-align: center;
    text-decoration: none;

}

.aNegra:hover{
    font-family: 'Fortnite';
    font-weight: bold;
    color: #ff7070;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
}

#fondo-site{
    background-image: url("../fotos-web/general/siteMap.jpeg");
    background-repeat: no-repeat;
    background-color: #000000;
}

#fondo-comunidad{
    background-image: url("../fotos-web/general/fondo-comunidad.jpg");
    background-repeat: no-repeat;
    background-color: #000000;
}

.bg-body{
    background-image: url("../fotos-web/general/nuestroMapa1.PNG");
    background-repeat: no-repeat;
    background-color: #000000;
    max-width: 100%;
    max-height: 100%;
}


.notthis{
    display: flex;
    align-items: center;
    justify-content: center;
}


.titulo-torneind{
    font-family: 'Fortnite';
    font-weight: bold;
    -webkit-text-fill-color: #000000;
    -webkit-text-stroke: 2px #ffffff;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
}
.letra-epic{
    font-family: 'Fortnite';
    font-weight: bold;
    -webkit-text-fill-color: #fffa77;
    -webkit-text-stroke: 2px #000000;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}
/*ESTILOS SALUD--------------------------------------------------------------------------------------------------------*/

.texto-salud{
    font-family: 'Fortnite';
    font-weight: bold;
    -webkit-text-fill-color: #b0ff92;
    -webkit-text-stroke: 2px #000000;
    font-size: 55px;
    text-align: center;
    text-decoration: none;
}



.texto-salud2{
    font-family: 'Fortnite';
    font-weight: bold;
    -webkit-text-fill-color: #b0ff92;
    -webkit-text-stroke: 2px #000000;
    font-size: 55px;
    text-align: center;
    text-decoration: none;
    margin-top: -150px;
}


#body-salud {
    max-width: 800px;
    margin: 0 auto;
}

.faqs-container{
    overflow: hidden;
}
.faq-singular {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 0 30px 0 20px;
}
.faq-singular:hover,
.faq-singular.active{
    background: #f2f2f2;
    background-image: linear-gradient(90deg, #b0ff92 0%, #b0ff92 8px, transparent 8px, transparent 100%);
}

.faq-singular:hover,
.faq-singular.active{
    background: #f2f2f2;
    background-image: linear-gradient(90deg, #b0ff92 0%, #b0ff92 8px, transparent 8px, transparent 100%);
}
.faq-singular .faq-question {
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 25px 25px 25px 0px;
    font-weight: 700;
    font-size: 24px;
}
.faq-singular .faq-question:before {
    position: absolute;
    content: "+";
    color: #808080;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    font-weight: 700;
    transition: all .5s;
}
.faq-singular.active .faq-question:before {
    transform: translateY(-50%) rotate(45deg) scale(1.3);
}
.faq-answer {
    display: none;
    padding-bottom: 20px;
}

/*ESTILOS PRIVACIDAD--------------------------------------------------------------------------------------------------*/

.texto-privacidad{
    font-family: 'Fortnite';
    font-weight: bold;
    -webkit-text-fill-color: #fcd577;
    -webkit-text-stroke: 2px #000000;
    font-size: 55px;
    text-align: center;
    text-decoration: none;
}

.texto-privacidad2{
    font-family: 'Fortnite';
    font-weight: bold;
    -webkit-text-fill-color: #fcd577;
    -webkit-text-stroke: 2px #000000;
    font-size: 55px;
    text-align: center;
    text-decoration: none;
    margin-top: -150px;
}

.faqs-container{
    overflow: hidden;
}
.faq-singular2 {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 0 30px 0 20px;
}
.faq-singular2:hover,
.faq-singular2.active{
    background: #f2f2f2;
    background-image: linear-gradient(90deg, #fcd577 0%, #fcd577 8px, transparent 8px, transparent 100%);
}
.faq-singular2 .faq-question {
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 25px 25px 25px 0px;
    font-weight: 700;
    font-size: 24px;
}
.faq-singular2 .faq-question:before {
    position: absolute;
    content: "+";
    color: #808080;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    font-weight: 700;
    transition: all .5s;
}
.faq-singular2.active .faq-question:before {
    transform: translateY(-50%) rotate(45deg) scale(1.3);
}
.faq-answer {
    display: none;
    padding-bottom: 20px;
}


/*ESTILOS COOKIES-----------------------------------------------------------------------------------------------------*/

.wrapper {
    position: absolute;
    background: #fff;
    max-width: 365px;
    border-radius: 15px;
    text-align: center;
    padding: 25px 25px 30px 25px;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.wrapper.hide {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: all 0.3s ease;
}



.wrapper img {
    max-width: 150px;
}

.wrapper .content {
    margin-top: 20px;
}

.wrapper header {
    font-family: 'Fortnite';
    font-size: 25px;
    font-weight: 600;
}

.content {
    margin-top: 10px;
}

.content p {
    color: #858585;
    margin: 5px 0 20px 0;
}

.content .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons .item {
    margin: 0 10px;
}

.buttons .button2 {
    padding: 10px 20px;
    background: #fcba7f;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}


.buttons .button3 {
    margin-left: 10px;
    padding: 10px 20px;
    background: #0099d8;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.buttons .button2:hover {
    transform: scale(0.97);
}
.buttons .button3:hover {
    transform: scale(0.97);
}

.buttons a {
    color: #fcba7f;
}
/*ESTILOS MODAL-------------------------------------------------------------------------------------------------------*/
.popup {
    padding: 7px;
    min-width: 372px;
    min-height: 390px;
    position: fixed;
    top: 35%;
    left: 50%;
    margin-top: -100px;
    margin-left: -185px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    z-index: -1;
    opacity: 0;
}

.overlay_canvas {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.5s;
}

.overlay_popup.popup-open .overlay_canvas,
.popup-open .popup {
    opacity: 1;
    z-index: 11
}

.close_btn {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 10px;
    color: #000;
    outline: none !important;
    text-shadow: none;
    min-width: 1px;
    font-size: 21px;
    color: #8C8C8C;
}

/*ESTILOS COMPARTIR TORNEIND------------------------------------------------------------------------------------------*/
.titulo-compartir{
    font-family: 'Fortnite';
    font-weight: bold;
    -webkit-text-fill-color: #77fce4;
    -webkit-text-stroke: 2px #000000;
    font-size: 55px;
    text-align: center;
    text-decoration: none;
}

.site{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper2{
    display:flex;
    height: 60vh;
    flex-direction: row;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
}

.fab {
    margin: auto;

}
.social{
    color: #FFF;
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social:hover {
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    transition: all ease 0.5s;
    -moz-transition: all ease-in 0.5s;
    -webkit-transition: all ease-in 0.5s;
    -o-transition: all ease-in 0.5s;
}

.facebook {
    color:#4267B2;
}

.twitter {
    color:#1DA1F2;

}
.youtube {
    color:#c4302b;
}
.telegram {
    color:#229ED9;
}

.instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;

}
.telegram {
    color: #229ED9;
}
.whatsapp {
    color:#25D366;
}
.bg-ico {
    display: flex;
    background-color: #FFF;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin: 0 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
    opacity: 0.99;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    text-decoration: none;

}
.bg-ico:hover{
    box-shadow: 0 5px 15px -5px rgba(0,0,0,0.8);
}
#facebook:hover {
    background-color: #4267B2;
}

#twitter:hover {
    background-color: #1DA1F2;

}
#youtube:hover {
    background-color: #c4302b;
}
#pinterest:hover {
    background-color:#229ED9;
}
#instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

}
#telegram:hover {
    background-color: #229ED9;
}
#whatsapp:hover {
    background-color:#25D366;
}
.facebook:hover,
.twitter:hover,
.youtube:hover,
.pinterest:hover,
.instagram:hover,
.telegram:hover,
.whatsapp:hover {
    color:#fff;
    transform: scale(1.3);
}

/*ESTILOS ESTADICTICAS JUGADOR----------------------------------------------------------------------------------------*/
#canvas1 {
    margin: 50px auto;
}

/*ESTILOS CHAT--------------------------------------------------------------------------------------------------------*/
#body-chat{
    background-color: #e8dede;
}

/*ESTILOS Cosmeticos--------------------------------------------------------------------------------------------------------*/
.div-foto {
    position: relative;
    display: grid;
    height: 100%;
    width: 100%;
    align-content: end;
    justify-content: center;
}

.card {
    border: 3px solid rgb(0, 0, 0);
}

.card>.div-foto>img {
    display: grid;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
    transition: 0.5s;
}


/*PARA QUE LA FOTO SE MUEVA AL PASAR POR ENCIMA*/

.card:hover {
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: screen;
    border: 3px solid rgb(229, 255, 0);
}

.card:hover>.div-foto>img {
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
}


/*--------------------------------------------------------*/

.card-info {
    background: rgba(0, 0, 0, 0.22);
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4.nombre {
    font-family: 'Fortnite';
    overflow: hidden;
    line-height: 1.3;
    color: #fff;
    margin: 0;
    width: 100%;
    white-space: nowrap;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    transform: scale(1, 1.26);
}

p.que-es {
    background: #000724;
    perspective: 800px;
    color: #fff;
    margin: 0;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.033em;
    text-align: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frozen {
    background: radial-gradient(#52b8e6, #52b8e6);
}

.legendary {
    background: radial-gradient(#ff7c00, #ffa64f);
}

.dark {
    background: radial-gradient(#733285, #f021d8);
}

.marvel {
    background: radial-gradient(#b01c1c, #b72f2f);
}

.dc {
    background: radial-gradient(#51669d, #4a67b1);
}

.starwars {
    background: radial-gradient(#193c80, #142b5a);
}

.gaminglegends {
    background: radial-gradient(#5346c9, #4538b9);
}

.icon {
    background: radial-gradient(#2bd2d2, #31a1a1);
}

.slurp {
    background: radial-gradient(#2effb7, #24e2a4);
}

.lava {
    background: radial-gradient(#ff6d15, #d75c19);
}

.shadow {
    background: radial-gradient(#a5a5a5, #6f6f6f);
}

.epic {
    background: radial-gradient(#c26cff, #b553f0);
}

.rare {
    background: radial-gradient(#50baff, #29adec);
}

.uncommon {
    background: radial-gradient(#86ee30, #5fad1d);
}

.common {
    background: radial-gradient(#e66465, #acacac);
}

/*ESTILOS TIENDA------------------------------------------------------------------------------------------------------*/
.carousel-status {
    font-family: "Open sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.03em;
    position: absolute;
    bottom: 23%;
    right: 4%;
    padding: 5px 9px;
    background: rgba(21, 24, 43, 0.75);
    color: white;
    border-radius: 15px;
}

.count {
    display: grid;
    grid-template-columns: min-content auto;
    background: rgba(0, 98, 255, 0.3);
    align-items: stretch;
}

.count>div:first-child {
    display: grid;
    align-content: center;
    width: 100%;
    grid-template-columns: min-content;
    background: rgba(229, 239, 255, 0.3);
    -webkit-clip-path: polygon(0 0, 91% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 91% 0, 100% 100%, 0% 100%);
}

.count>div:first-child>h3 {
    margin: 0;
    border: 0;
    height: 100%;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding: 0 30px 0 12px;
    white-space: nowrap;
    font-family: 'Fortnite';
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.038em;
    transform: scale(1, 1.26);
    vertical-align: baseline;
}

.count>div:last-child {
    display: grid;
    justify-content: right;
    align-content: center;
    padding: 0 10px;
    white-space: nowrap;
    font-weight: 600;
    letter-spacing: 0.045em;
    font-size: 16px;
}

.count.feat {
    grid-area: count-feat;
}

.feature {
    grid-area: feature;
    display: grid;
    grid-gap: 24px 24px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
}

.ticker {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background: white;
}

img {
    vertical-align: middle;
    border-style: none;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.img-tienda {
    position: relative;
    display: grid;
    height: 100%;
    width: 100%;
    align-content: end;
    justify-content: center;
}

.feature .card-tienda>img,
.feature .card-tienda>.img-tienda>img {
    width: 132%;
    max-width: 160%;
    justify-self: center;
}

.card-tienda>img,
.card-tienda>.img-tienda>img {
    display: grid;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
    transition: 0.5s;
}

.card-tienda,
.card-tienda-carousel {
    height: 470px;
    width: 304px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-tienda-carousel>.card-tienda {
    height: 100%;
}

.card-tienda:hover {
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: screen;
    outline: 5px solid #ff0;
}

.card-tienda:hover>img,
.card-tienda:hover>.img-tienda>img {
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
}

.carousel .card-tienda:hover {
    outline: 0;
}

.carousel:hover,
.carousel:active {
    outline: 5px solid #ff0;
}

.card-tienda-info {
    background: rgba(0, 0, 0, 0.22);
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature h4.card-tienda-name {
    font-size: 26px;
}

h4.card-tienda-name {
    overflow: hidden;
    line-height: 1.3;
    color: #fff;
    margin: 0;
    width: 100%;
    white-space: nowrap;
    font-family: 'Fortnite';
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    transform: scale(1, 1.26);
}

.feature p.card-tienda-price {
    padding: 10px 0;
    font-size: 20px;
}

.texto-pay{
    color: #000000;
    font-family: 'Fortnite';
    font-size: 50px;

}

p.card-tienda-price {
    background: #000724;
    perspective: 800px;
    color: #fff;
    margin: 0;
    white-space: nowrap;
    font-family: 'Fortnite';
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.033em;
    text-align: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

p.card-tienda-type {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding-top: 2px;
    white-space: nowrap;
    font-family: "Open sans", sans-serif;
    font-weight: 400;
    letter-spacing: 0.06em;
    font-size: 13px;
    text-align: center;
}

p.card-tienda-price>img {
    width: 25px;
    margin-right: 5px;
}

.feat-container {
    display: grid;
}

.feat-container>.container {
    display: grid;
    grid-gap: 24px 24px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
}

/*ESTILOS PAGO--------------------------------------------------------------------------------------------------------*/
:root {
    --primary-light: #c2c1c1;
    --primary: #ff5e5e;
    --primary-dark: #169305;
    --secondary: #17c9ff;
    --alert: #ff004c;
    --greyLight-1: #d2d7db;
    --greyLight-2: #c8dbf0;
    --greyDark-1: #ffffff;
    --greyDark-2: #ffffff;
    --card1: #ff5e5e;
    --card2: #000000;
}

.container-pago,
.container-pago::before,
.container-pago::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container-pago {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment {
    width: 74.8rem;
    height: 48rem;
    border-radius: 0.8rem;
    background: #ffffff;
    display: grid;
    grid-template-columns: 32rem 24.8rem;
    padding: 4rem 6rem;
    grid-gap: 6rem;
    align-items: center;
    position: relative;
}

.card-pago {
    grid-column: 1/2;
    width: 32rem;
    height: 20rem;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 0 2rem;
    align-items: center;
    color: #ffffff;
    background: linear-gradient(to bottom, var(--card1) 0%, var(--card2) 50%);
    box-shadow: -0.6rem 0.6rem 1.8rem #4f46f83d;
    border: 1px solid #ffffff;
    z-index: 200;
    position: relative;
}

.card__visa {
    justify-self: flex-end;
    grid-column: 2/3;
    overflow: hidden;
    width: 5.5rem;
}

.card__number {
    font-family: "Roboto Mono", monospace;
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 1.8rem;
    letter-spacing: 0.12rem;
}

.card__name {
    grid-row: 3/4;
}

.card__name h3 {
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
    font-weight: 300;
}

.card__name p {
    font-size: 1.4rem;
}

.card__expiry {
    grid-row: 3/4;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.card__expiry h3 {
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
    font-weight: 300;
}

.card__expiry p {
    font-size: 1.4rem;
}

.form {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(2, 11rem);
    grid-template-rows: repeat(5, min-content);
    grid-column-gap: 2.8rem;
    grid-row-gap: 1.2rem;
    color: var(--greyDark-2);
}

.form h2 {
    font-size: 2rem;
    grid-column: 1/3;
    line-height: 1;
    margin-bottom: 1.4rem;
    font-family: "Inter", sans-serif;
}

.form__detail {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding-bottom: 0.6rem;
    color: var(--greyDark-1);
}

.form__name {
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: stretch;
}

.form__number {
    grid-column: 1/3;
    grid-row: 3/4;
    justify-self: stretch;
}

.form__expiry {
    grid-column: 1/2;
    grid-row: 4/5;
}

.form__cvv {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: flex-end;
    width: 100%;
}

.form__cvv input[type=checkbox] {
    display: none;
}

.form__cvv .info {
    top: -0.4rem;
    left: 2.4rem;
    color: var(--greyDark-1);
}

.form__btn {
    grid-column: 1/3;
    grid-row: 5/6;
    height: 3.8rem;
    border-radius: 0.6rem;
    border: none;
    background: var(--primary);
    color: #ffffff;
    justify-self: stretch;
    font-family: inherit;
    font-size: 1.6rem;
    cursor: pointer;
}

.form__btn:focus {
    outline: none;
}

.form__btn:hover {
    background-image: url("https://static1-us.millenium.gg/articles/4/19/03/4/@/190636-vbucks1-orig-1-article_image_bd-1.jpeg");
}

.form ion-icon {
    position: absolute;
    font-size: 2rem;
    top: 3.4rem;
    margin-left: 1rem;
    color: var(--primary-light);
    stroke: var(--primary);
}

.form label {
    pointer-events: none;
    font-size: 1.4rem;
    padding: 0 0 1rem 0;
    line-height: 1;
    color: var(--greyDark-1);
}

.form input {
    padding: 1rem 1rem 1rem 4rem;
    border: none;
    background: transparent;
    border-radius: 0.6rem;
    border: 1px solid var(--greyLight-2);
    color: var(--greyDark-2);
    font-family: inherit;
    font-size: 1.4rem;
}

.form input::-moz-placeholder {
    color: var(--greyLight-1);
    font-size: inherit;
    letter-spacing: 0.12rem;
}

.form input:-ms-input-placeholder {
    color: var(--greyLight-1);
    font-size: inherit;
    letter-spacing: 0.12rem;
}

.form input::placeholder {
    color: var(--greyLight-1);
    font-size: inherit;
    letter-spacing: 0.12rem;
}

.form input:focus {
    outline: none;
}

.form input:hover {
    border: 1px solid var(--primary-light);
}


.dribbble {
    position: fixed;
    font-size: 36px;
    right: 20px;
    bottom: 20px;
    color: #EA4C89;
}

#body-pay {
    background-color: #25124d;
    margin: 0;
    padding: 0;
}

#canvas-pay {
    position: absolute;
    z-index: -1;
    background-image: radial-gradient(#2F1A56, #210F49);
}

/* Estilos chat-------------------------------------------------------------------------------------------------------*/

*,
.chat::before,
.chat::after {
    box-sizing: border-box;
}

.chat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 560px;
    height: 80vh;
    max-height: 700px;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    background: rgb(145, 145, 145);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.chat-title {
    font-family: 'Fortnite';
    flex: 0 1 45px;
    position: relative;
    z-index: 2;
    background: #ffffff;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: left;
    padding: 10px 10px 10px 50px;
}

.chat-title h1,
.chat-title h2 {
    font-weight: normal;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.chat-title h2 {
    color: #ff7070;
    font-size: 12px;
    letter-spacing: 1px;
}

.chat-title .avatar {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 9px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 2px solid rgb(255, 255, 255);
}

.chat-title .avatar img {
    width: 100%;
    height: auto;
}

.messages {
    flex: 1 1 auto;
    color: rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
    width: 100%;
}

.messages .messages-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 101%;
    width: 100%;
}

.messages .message {
    clear: both;
    float: left;
    padding: 6px 10px 7px;
    border-radius: 10px 10px 10px 0;
    background: rgb(0, 0, 0);
    margin: 8px 0;
    font-size: 15px;
    line-height: 1.4;
    margin-left: 35px;
    position: relative;
    text-shadow: 0 1px 1px rgb(0, 0, 0);
}

.messages .message .timestamp {
    position: absolute;
    bottom: -15px;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.messages .message::before {
    content: "";
    position: absolute;
    bottom: -6px;
    border-top: 6px solid #000000;
    left: 0;
    border-right: 7px solid transparent;
}

.messages .message .avatar {
    position: absolute;
    z-index: 1;
    bottom: -15px;
    left: -35px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 2px solid #ffffff71;
}

.messages .message .avatar img {
    width: 100%;
    height: auto;
}

.messages .message.message-personal {
    float: right;
    color: #fff;
    text-align: right;
    background: linear-gradient(120deg, #a1a1a1, rgb(110, 110, 110));
    border-radius: 10px 10px 0 10px;
}

.messages .message.message-personal::before {
    left: auto;
    right: 0;
    border-right: none;
    border-left: 5px solid transparent;
    border-top: 4px solid #3cff00;
    bottom: -4px;
}

.messages .message:last-child {
    margin-bottom: 30px;
}

.messages .message.new {
    transform: scale(0);
    transform-origin: 0 0;
    -webkit-animation: bounce 500ms linear both;
    animation: bounce 500ms linear both;
}

.messages .message.loading::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #ff7070;
    z-index: 2;
    margin-top: 4px;
    -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    border: none;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.messages .message.loading span {
    display: block;
    font-size: 0;
    width: 20px;
    height: 10px;
    position: relative;
}

.messages .message.loading span::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #b915b9;
    z-index: 2;
    margin-top: 4px;
    -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    margin-left: -7px;
}

.messages .message.loading span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #ffffff;
    z-index: 2;
    margin-top: 4px;
    -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    margin-left: 7px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.message-box {
    flex: 0 1 40px;
    width: 100%;
    background: rgb(255, 254, 254);
    padding: 10px;
    position: relative;
}

.message-box .message-input {
    background: none;
    border: none;
    outline: none !important;
    resize: none;
    color: rgb(0, 0, 0);
    font-size: 11px;
    height: 17px;
    margin: 0;
    padding-right: 20px;
    width: 265px;
}


.message-box .message-submit {
    position: absolute;
    z-index: 1;
    top: 9px;
    right: 10px;
    color: #fff;
    border: none;
    background: #ff7070;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 10px;
    outline: none !important;
    transition: background 0.2s ease;
}

.message-box .message-submit:hover {
    background: #000000;
}

.mCSB_scrollTools {
    margin: 1px -3px 1px 0;
    opacity: 0;
}

.mCSB_inside>.mCSB_container {
    margin-right: 0px;
    padding: 0 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

@-webkit-keyframes bounce {
    0% {
        transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
        transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
        transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
        transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
        transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
        transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
        transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
        transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
        transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
        transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    63.26% {
        transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85.49% {
        transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

@keyframes bounce {
    0% {
        transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
        transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
        transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
        transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
        transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
        transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
        transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
        transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
        transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
        transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    63.26% {
        transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85.49% {
        transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

@-webkit-keyframes ball {
    from {
        transform: translateY(0) scaleY(0.8);
    }
    to {
        transform: translateY(-10px);
    }
}

@keyframes ball {
    from {
        transform: translateY(0) scaleY(0.8);
    }
    to {
        transform: translateY(-10px);
    }
}

@media only screen and (max-width: 767px) {
    .chat {
        width: 75%;
        height: 30%;
    }

    .fotos-ver-torneos {
        height: 250px;
    }

    .fechas{
        width: 27% !important;
    }

    .video{
        height: 70% !important;

    }

    .fotos-inicio-link{
        height: 150px;
    }
    .fotos-inicio-link2{
        height: 150px;
    }
}

/*ESTILOS SHOP CONFIRM------------------------------------------------------------------------------------------------*/

.modalbox.success{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    padding: 25px 25px 15px;
    text-align: center;
}

.modalbox.success.animate .icon{
    -webkit-animation: fall-in 0.75s;
    -moz-animation: fall-in 0.75s;
    -o-animation: fall-in 0.75s;
    animation: fall-in 0.75s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.modalbox.success button,
.modalbox.success button:active,
.modalbox.success button:focus{
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin-top: 15px;
    width: 80%;
    background: transparent;
    color: #4caf50;
    border-color: #4caf50;
    outline: none;
}

.modalbox.success button:hover,
.modalbox.success button:active:hover,
.modalbox.success button:focus:hover{
    color: #fff;
    background: #4caf50;
    border-color: transparent;
}

.modalbox.success .icon{
    position: relative;
    margin: 0 auto;
    margin-top: -75px;
    background: #4caf50;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#compra-ok{
    background-image: url("../fotos-web/general/compraok.jpg");
}

.modalbox.success .icon span{
    postion: absolute;
    font-size: 4em;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}


.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    /* stupid browser compat. smh */
}

.center .change {
    clearn: both;
    display: block;
    font-size: 10px;
    color: #ccc;
    margin-top: 10px;
}

@-webkit-keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }
    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-moz-keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }
    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-o-keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }
    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-webkit-keyframes plunge {
    0% {
        margin-top: -100%;
    }
    100% {
        margin-top: 25%;
    }
}

@-moz-keyframes plunge {
    0% {
        margin-top: -100%;
    }
    100% {
        margin-top: 25%;
    }
}

@-o-keyframes plunge {
    0% {
        margin-top: -100%;
    }
    100% {
        margin-top: 25%;
    }
}

@-moz-keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }
    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-webkit-keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }
    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-o-keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }
    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }
    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-moz-keyframes plunge {
    0% {
        margin-top: -100%;
    }
    100% {
        margin-top: 15%;
    }
}

@-webkit-keyframes plunge {
    0% {
        margin-top: -100%;
    }
    100% {
        margin-top: 15%;
    }
}

@-o-keyframes plunge {
    0% {
        margin-top: -100%;
    }
    100% {
        margin-top: 15%;
    }
}

@keyframes plunge {
    0% {
        margin-top: -100%;
    }
    100% {
        margin-top: 15%;
    }
}

.row-compra-ok{
    padding-top: 150px;
    padding-bottom: 370px;
}

.iconos-font-compra{
    color: white;
    height: 500px !important;
}

.button-wrapper {
    height: 100px;
    width: 300px;
    background: linear-gradient(#ffffff, #000000);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.2s;
}

.button-wrapper:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 15px 0px rgba(17, 17, 17, 0.8);
}

.button-wrapper .button-inner {
    height: 75%;
    width: 90%;
    background: linear-gradient(#000000, #ffffff);
    transform: skew(-5deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wrapper .button-inner p {
    font-size: 3rem;
    color: #ffffff;
    margin: 15px 0 0 0;
}

.description {
    position: absolute;
    top: 70px;
    width: 100vw;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
}

.description h1 {
    font-size: 3rem;
    margin: 0;
}
































































