{% extends 'base.html.twig' %}
{% block title %}Objeto de la tienda{% endblock %}
{% block body %}
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    </head>
    <body>
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-12 d-flex flex-column flex-lg-row text-center ">
                <div class="col-6">
                    <h1 id="nombre"></h1>
                    <h1 id="precio"></h1> <p class=""><img src="https://image.fnbr.co/price/icon_vbucks.png" /></p>
                </div>
                <div class="col-6">
                 <a class="link-iconos" href="{{ asset('/pay/shop/buy-object/object-shop-ref.ttfr-46252-llmpq') }}">
                     <div class="button-wrapper">
                         <div class="button-inner">
                             <p>COMPRAR</p>
                         </div>
                     </div>
                 </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = main;
        function main(){

            cargarDatos();
        }
        function cargarDatos(){
            var nombre = localStorage.getItem("nombre");
            var precio = localStorage.getItem("precio");
            var h1Nombre = document.getElementById('nombre');
            var h1Precio = document.getElementById('precio');
            var precioTxt = document.createTextNode(precio);
            var nombreTxt = document.createTextNode(nombre);
            h1Nombre.appendChild(nombreTxt);
            h1Precio.appendChild(precioTxt);
        }
    </script>



    </body>



{% endblock %}