{% extends 'base.html.twig' %}
{% block title %}Cosméticos 🥼{% endblock %}
{% block body %}
    <body>
    <div class="container-fluid">
        <div class="col-12 d-flex flex-column flex-lg-row">
            <div class="col-1" style="background-color: #1a1a1a">f</div>
            <div id="content" class="col-10" style="background-color: #ff0000">
                <div id="nombre">
                </div>
            </div>
            <div class="col-1" style="background-color: #1a1a1a">f </div>
        </div>

    </div>

    </body>
{% endblock %}