{% extends 'base.html.twig' %}
{% block title %}Tienda 💲 {% endblock %}
{% block body %}
    <body>
    <div class="container-fluid ">
        <div class=" d-flex justify-content-center row-futuro">
            <div class="col-7">

                <div class="card tarjeta-futuro shadow-lg p-3 mb-5 bg-white rounded">
                    <h5 class="texto-no-torneos"> ¡ DISPONIBLE EN EL PROYECTO FINAL !</h5>
                    <div class="card-body">
                        <h5 class="card-title texto-profile-ver">Una tienda que se actualiza cada 24hrs y puedes comprar tus artículos desde ella sin necesidad de entrar al juego. </h5>
                    </div>
                </div>

            </div>

        </div>
    </div>

    </body>
{% endblock %}