<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('/logos/sin-fondo.png') }}"/>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-L+XK540vkePe55E7PAfByfvW0XpsyYpsifTpgh/w8WvH6asVg/c2zqp0EfZfZTbF" crossorigin="anonymous">
</head>
<body>
<h1 class="heading"></h1>
<div class="cuentas"></div>

<a href="{{ path('perfil') }}"><button class="pill" type="button"><i class="fal fa-arrow-alt-to-left icono-vincularr"></i> Volver a mi perfil </button></a>
<script src="{{ asset('/js/vinculation_account.js') }}"> </script>
<link rel="stylesheet" href="{{ asset('/css/Others_Css/estilos_vinculation_acount.css') }}">
</body>
</html>