{% extends 'base.html.twig' %}
{% block title %}Política de privacidad 🔐🔑{% endblock %}
{% block body %}
    <body>
    <div class="col-12 container-fluid">
        <div class="row">
            <div class="mt-5 d-flex justify-content-center">
                <h1 class="texto-privacidad"> 🔐 UN CANDADO, LO CIERRA TODO 🔑</h1>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <img class="img-fluid" src="{{ asset('/fotos-web/general/foto-privacidad.png') }}" alt="foto-salud">
            </div>
        </div>
    </div>
    <div class="col-12 container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center ">
                <h5 class="texto-privacidad2"> TU PRIVACIDAD ES LO MAS IMPORTANTE.</h5>
            </div>
            <center>
                <h2 class="texto-buscar-amigos">Por eso aqui tienes como se gestíona tú información y las cookies.</h2>
            </center>
            <div class="col-12 d-flex justify-content-center">
                <div class="faqs-container" itemscope itemtype="https://schema.org/FAQPage">
                    <div class="faq-singular2" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <h2 class="faq-question" itemprop="name">¿Qué es la política de cookies?
                        </h2>
                        <div class="faq-answer" itemscope itemprop="acceptedAnswer"
                             itemtype="https://schema.org/Answer">
                            <div itemprop="text">
                                <p>
                                    Una cookie es un paquete de datos que un navegador web almacena de forma automática
                                    en el ordenador de un usuario cuando este visita una página web. La cookie es
                                    enviada desde el servidor al visitante de la página web. Posteriormente, cada vez
                                    que el usuario visite esa misma página web o alguna otra del mismo dominio, la
                                    cookie será leída por el navegador web, sin ser modificada, y devuelta al servidor
                                    web.

                                    Por tanto, las cookies son sólo datos que se almacenan en el ordenador del usuario.
                                    Las cookies no son software, tampoco son fragmentos de código, son simplemente
                                    datos. Por tanto, en principio las cookies no pueden transmitir y ejecutar virus, ni
                                    instalar malware como troyanos o programas de espionaje.

                                    La política de cookies es un texto legal en el que una página una página informa al
                                    usuario sobre el tipo de cookies que usa y con qué finalidad. Es uno de los
                                    principales textos RGPD junto con el aviso legal y la política de privacidad.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="faq-singular2" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <h2 class="faq-question" itemprop="name">¿Qué datos recopilan las cookies?</h2>
                        <div class="faq-answer" itemscope itemprop="acceptedAnswer"
                             itemtype="https://schema.org/Answer">
                            <div itemprop="text">
                                <p>
                                    Estas cookies recopilan información sobre cómo los usuarios interactúan con el sitio
                                    web, incluyendo qué páginas visitan, así como otros datos analíticos. Estos datos se
                                    usan para implementar mejoras en el funcionamiento de la página web y para
                                    comprender cómo los usuarios interactúan con la misma.


                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="faq-singular2" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <h2 class="faq-question" itemprop="name">¿Qué pasa cuando acepto cookies?</h2>
                        <div class="faq-answer" itemscope itemprop="acceptedAnswer"
                             itemtype="https://schema.org/Answer">
                            <div itemprop="text">
                                <p>
                                    Al aceptar las cookies estamos permitiendo que ese sitio tome datos como el idioma
                                    de nuestro navegador, intereses en función de la ubicación, que se guarde o no
                                    nuestro usuario, etc

                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="faq-singular2" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <h2 class="faq-question" itemprop="name">¿A qué destinatarios se comunicarán los datos?


                        </h2>
                        <div class="faq-answer" itemscope itemprop="acceptedAnswer"
                             itemtype="https://schema.org/Answer">
                            <div itemprop="text">

                                <p>
                                    Torneind podrá comunicar los datos personales de los Usuarios cuando así se le
                                    requiera por ley, para la defensa de sus derechos e intereses legítimos, o cuando
                                    sea preciso en cumplimiento de los servicios contratados por los Usuarios. También
                                    podrán ser accedidos por terceros prestadores de servicios de soporte técnico e
                                    informático, sobre algunos de los cuales se informa a continuación.
                                </p>

                                <p>
                                    Determinados sistemas, datos y servicios están alojados en Epic Games Information
                                    («EGI»), cuyos servidores se encuentran en Londres. En este sentido, sus datos
                                    podrán ser transferidos internacionalmente a los servidores de esta empresa en
                                    Estados Unidos. Torneind adoptará los mecanismos apropiados para garantizar que la
                                    transferencia de datos personales se realice en un marco equivalente al que ofrece
                                    la normativa europea de protección de datos. </p>

                                <p>
                                    Para terminar, le informamos que Torneind se vale de otras empresas para la
                                    prestación
                                    de determinados servicios relacionados con el Sitio y/o la App, como la facturación
                                    o el pago de los Servicios a través de nuestra plataforma.
                                </p>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
