{% extends 'base.html.twig' %}
{% block title %}Salud 💚{% endblock %}
{% block body %}
    <body>

    <div class="col-12 container-fluid">
        <div class="row">
            <div class="mt-5 d-flex justify-content-center">
                <h1 class="texto-salud"> 💚 TÚ SALUD, LO MAS IMPORTANTE 🤍</h1>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <img class="img-fluid" src="{{ asset('/fotos-web/general/salud.png') }}" alt="foto-salud">
            </div>
        </div>
    </div>
    <div class="col-12 container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center ">
                <h5 class="texto-salud2">  DESDE TORNEIND NOS PREOCUPAMOS POR TU SALUD .</h5>
            </div>
            <center>
                <h2 class="texto-buscar-amigos">Por eso aquí tienes unos consejos de salud básicos en los videojuegos.</h2>
            </center>
            <div class="col-12 d-flex justify-content-center">

                <div class="faqs-container" itemscope itemtype="https://schema.org/FAQPage">
                    <div class="faq-singular" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <h2 class="faq-question" itemprop="name">¿Cómo ser un gamer saludable?
                        </h2>
                        <div class="faq-answer" itemscope itemprop="acceptedAnswer"
                             itemtype="https://schema.org/Answer">
                            <div itemprop="text">

                                <ul class="list-group">
                                    <li class="list-group-item"> Come saludable. Jugar videojuegos, especialmente en
                                        grupo, implica picotear bocadillos, pues tener una comida real no es muy
                                        conveniente pues se pierde tiempo. ...
                                    </li>
                                    <li class="list-group-item"> Encuentra una actividad física que disfrutes.
                                    </li>
                                    <li class="list-group-item"> Encuentra una actividad física que disfrutes.
                                    </li>
                                    <li class="list-group-item"> Encuentra un grupo social.
                                    </li>
                                    <li class="list-group-item"> Mantente hidratado.
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="faq-singular" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <h2 class="faq-question" itemprop="name">¿Cuáles son las ventajas desventajas de los videojuegos?</h2>
                        <div class="faq-answer" itemscope itemprop="acceptedAnswer"
                             itemtype="https://schema.org/Answer">
                            <div itemprop="text">
                                <ul class="list-group">
                                    <li class="list-group-item"> Habilidades mentales.
                                    </li>
                                    <li class="list-group-item"> Ayudan a quitar el estrés.
                                    </li>
                                    <li class="list-group-item"> Hace que tengas valores positivos.

                                    </li>
                                    <li class="list-group-item"> Seremos más creativos.
                                    </li>
                                    <li class="list-group-item"> Mejora nuestra atención.
                                    </li>
                                </ul>                            </div>
                        </div>
                    </div>

                    <div class="faq-singular" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <h2 class="faq-question" itemprop="name">¿Cómo controlar los videojuegos en niños?</h2>
                        <div class="faq-answer" itemscope itemprop="acceptedAnswer"
                             itemtype="https://schema.org/Answer">
                            <div itemprop="text">
                                <ul class="list-group">
                                    <li class="list-group-item"> Déjale jugar durante una semana y anota las horas que dedica.
                                    </li>
                                    <li class="list-group-item"> Establece un horario y reglas.
                                    </li>
                                    <li class="list-group-item"> Hacer que entiendan las expectativas.
                                    </li>
                                    <li class="list-group-item"> Dile a tu hijo que te enseñe un videojuego y juega con él.
                                    </li>
                                    <li class="list-group-item"> Quítale su videojuego más preciado.
                                    </li>
                                </ul>                            </div>
                        </div>
                    </div>

                    <div class="faq-singular" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <h2 class="faq-question" itemprop="name">¿Cómo podemos hacer uso de manera equilibrada de los juegos electrónicos?</h2>
                        <div class="faq-answer" itemscope itemprop="acceptedAnswer"
                             itemtype="https://schema.org/Answer">
                            <div itemprop="text">
                                Hacer un buen uso de los videojuegos es fundamental para que los niños puedan disfrutar de los videojuegos y aprender con ellos sin obsesionarse.
                                <ul class="list-group">
                                    <li class="list-group-item"> Come saludable. Jugar videojuegos, especialmente en
                                        grupo, implica picotear bocadillos, pues tener una comida real no es muy
                                        conveniente pues se pierde tiempo. ...
                                    </li>
                                    <li class="list-group-item"> Comprueba a qué juega tu hijo. ...

                                    </li>
                                    <li class="list-group-item"> La seguridad, lo primero. ...

                                    </li>
                                    <li class="list-group-item"> Controla su tiempo. ...

                                    </li>
                                    <li class="list-group-item"> Evita a los depredadores. ...

                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}